<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_color"               value="false"/>
    <arg name="enable_depth"               value="true"/>
    <arg name="enable_infra1"              value="true"/>     <!-- needed for texture -->
    <arg name="enable_confidence"          value="false"/>
    <arg name="enable_pointcloud"          value="true"/>
    <arg name="enable_sync"                value="true"/>
    <arg name="align_depth"                value="false"/>

    <!-- Use infrared as pointcloud texture since D430 has no color -->
    <arg name="pointcloud_texture_stream"  value="RS2_STREAM_INFRARED"/>
    <arg name="pointcloud_texture_index"   value="1"/>

    <arg name="depth_width"                value="424"/>
    <arg name="depth_height"               value="240"/>
    <arg name="depth_fps"                  value="15"/>
    <arg name="infra_width"                value="424"/>
    <arg name="infra_height"               value="240"/>
    <arg name="infra_fps"                  value="15"/>

    <arg name="enable_accel"               value="false"/>
    <arg name="enable_gyro"                value="false"/>

    <arg name="filters"                    value="decimation"/>
  </include>

  <param name="/camera/decimation/filter_magnitude" type="int" value="2"/>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="cloud_to_scan">
		<remap from="cloud_in" to="/camera/depth/color/points"/>
		<remap from="scan" to="/pointcloud/realsense/laserscan"/>
		<param name="target_frame" value="base_link_stable"/>
    <param name="transform_tolerance" value="0.2"/>
		<param name="min_height" value="-0.5"/>
		<param name="max_height" value="0.5"/>
		<param name="angle_min" value="-0.7853981634"/>
		<param name="angle_max" value="0.7853981634"/>
		<param name="angle_increment" value="0.0087266463"/>
		<param name="range_min" value="1.0"/>
		<param name="range_max" value="9.8"/>
		<param name="use_inf" value="true"/>
	</node>

  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth/color/points" />
    <remap from="~output" to="/pointcloud/realsense/odom" />
    <param name="output_frame" value="odom" />
    <param name="filter_field_name" value="z" />
    <param name="filter_limit_min" value="-100.0" />
    <param name="filter_limit_max" value="100.0" />
    <param name="filter_limit_negative" value="false" />
  </node>

</launch>
