<launch>

  <!-- Mavros Node -->
	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find px4_ego_planner)/config/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find px4_ego_planner)/config/px4_config.yaml" />
		<arg name="fcu_url" value="/dev/ttyTHS3:921600" />
		<arg name="gcs_url" value="udp://@172.17.0.1:14550" />
		<!-- <arg name="gcs_url" value="" /> -->
		<arg name="tgt_system" value="1" />
		<arg name="tgt_component" value="1" />
	</include>

</launch>