<launch>
  <arg name="bag_path" default="/ws_ego/src/px4_ego_planner/rosbag/" />
  
  <node pkg="rosbag" type="record" name="drone_recorder" output="screen"
    args="record -o $(arg bag_path)
	          /pointcloud/realsense/laserscan
            /tof_sensor_left/pointcloud
            /tof_sensor_right/pointcloud
            /tof_sensor_back/pointcloud
            /mavros/obstacle/send
            /mavros/local_position/pose
            /mavros/local_position/odom
            /costmap_node/costmap/costmap
            /costmap_node/costmap/costmap_updates
            /tf
            /tf_static" />
</launch>
