<launch>

  <!-- Mavros Node -->
	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find px4_ego_planner)/config/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find px4_ego_planner)/config/px4_config.yaml" />
		<arg name="fcu_url" value="/dev/ttyAMA3:921600" />
		<arg name="gcs_url" value="udp://@172.17.0.1:14550" />
		<!-- <arg name="gcs_url" value="" /> -->
		<arg name="tgt_system" value="1" />
		<arg name="tgt_component" value="1" />
	</include>

	<!-- Realsense Camera -->
	<include file="$(find px4_ego_planner)/resource/realsense_d435/rs_pointcloud.launch"/>
    
	<!-- TF Tree -->
	<node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 10"/>
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/>
	<node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.1 0 0 0 0 0 base_link camera_link 10"/>

	<!-- Stable TF Publisher and Virtual Ground from arkflow data -->
	<node pkg="px4_ego_planner" type="stable_tf_pub.py" name="stable_tf_pub" output="screen" />

	<!-- TOF sensors -->
	<include file="$(find px4_ego_planner)/launch/tof_sensor.launch"/>

	<!-- Costmap_2d Node -->
	<node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
		<rosparam file="$(find px4_ego_planner)/config/local_costmap_params.yaml" command="load"/>
	</node>

	<node pkg="px4_ego_planner" type="scan_to_mavros.py" name="costmap_to_mavros" output="screen"/>

</launch>	
