<launch>
  <node pkg="tf" type="static_transform_publisher" name="map_to_world"
          args="0 0 0 0 0 0 world map 10"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find px4_ego_planner)/resource/real.rviz" required="true" />
	<node name="vins_estimator" pkg="vins" type="vins_node" args="$(find px4_ego_planner)/resource/realsense_d455/calibration.yaml" />
</launch>	
